<?xml version="1.0"?>
<configuration>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*"/>
			</customHeaders>
		</httpProtocol>
		<staticContent>
			<clear/>
			<mimeMap fileExtension="*" mimeType="application/octet-stream"/>
		</staticContent>
		<handlers>
			<clear/>
			<add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read"/>
		</handlers>
	</system.webServer>
	<system.web>
		<compilation targetFramework="4.5"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>
</configuration>