<html>
<body>
    <div id="Main">
        <div><img id="Image"/></div>
        <div>
            <input type="file" id="ImageFile"/>
        </div>
    </div>
    <script>
        var img = document.getElementById("Image");
        var ImageFile = document.getElementById("ImageFile");
        ImageFile.onchange = () => {

            if (ImageFile.files && ImageFile.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    img.setAttribute('src', e.target.result);
                };

                reader.readAsDataURL(ImageFile.files[0]);
            }
        };
    </script>
</body>
</html>