<html>
<body>
    <div id="Main" class="card w3-round-large" style="background-color:rgba(255,255,255,0.7);margin-left:2.5%;width:95%;">
        <div id="Body"></div>
        <img class="card-img-top w3-round-large" style="margin-top:3%;max-width:95%;max-height:70%" id="Image">
        <br />
        <label id="txt_Prompt" style="color:black"></label>
        <br />
        <div class="card-body">
            <input type="text" class="form-control" id="txt_message" style="text-align:center"/>
            <input type="button" id="btn_send" value="ارسال" />
        </div>
    </div>
</body>
</html>